/* Основные стили */

body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
}

header {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 20px;
}

h1, h2 {
  font-family: "Arial Black", Gadget, sans-serif;
}

.tabs {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.tabs button {
  background-color: #f4f4f4;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.tabs button:hover {
  background-color: #ddd;
}

.tab-content {
  display: none;
  padding: 20px;
}

.tab-content h2 {
  margin-top: 0;
}
